<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%.4thread] %-5level %logger{36} : %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="eu.clarin.cmdi" level="INFO"/>
  
  <logger name="eu.clarin.cmdi.validator.CMDISchemaLoader" level="INFO"/>
  
  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
